.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgreen;
}

li{
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    color: black;
}