#root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  background-color: lightcoral;
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  background-color: lightblue;
  padding: 20px;
  list-style: none;
}

#root > div {
  width: 100%;
}

footer {
  width: 100%;
  background-color: lightgray;
}
